@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* variabels */
:root {
    --background-color-content: #FAF9F8;
    --background-footer: #71bff3;
    --link-color: #4C5B65;
    --link-hover: #679BC7;
    --text-color: #000;
    --text-footer: #fff;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

h2 {
    margin: 20px 0px;
}

.content h3 {
    margin: 0px 10px;
}

p {
    margin: 10px auto;
    line-height: 1.7;
}

.centered {
    text-align: center;
}

#wrapper {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "header header header header"
        "hero hero hero hero"
        "main main main main"
        "footer footer footer footer ";

}

#wrapper-contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer ";
}

header {
    grid-area: header;


}

#hero {
    grid-area: hero;


}

main {
    grid-area: main;


}

footer {
    grid-area: footer;
    background-color: var(--background-footer);
    padding: 20px 10px;
}

header nav {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 10px;
}




li {
    list-style: none;
}

.item a {
    color: var(--link-color);
    text-decoration: none;
    padding: 10px 30px;

}

.item a:hover {
    border-bottom: 3px solid var(--link-hover);

}

.item a.active {
    border-bottom: 3px solid var(--link-hover);
}

/* .logo img {
    width: 200px
} */
.logo {
    background-image: url("../images/DS-Logo-small.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 20px;


}

.content {
    display: block;
    margin: 10px;
    padding: 40px;
    background-color: var(--background-color-content);
}

[class*=section] {
    margin-bottom: 40px;

}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contact-text {
    margin: 10px;
    padding: 20px;

}


.about-image img, .contact-image img {
    width: 250px;
    min-width: 100%;

}

#hero img {
    width: 100%;
    max-width: 100%;
    height: auto;

}

.contact-main {
    align-items: center;
}


.contact-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0px;
    align-items: flex-end;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;

}

.social-icons i {
    color: var(--text-color);
}

.contact-socialmedia {
    margin: 40px 0px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    flex-wrap: wrap;

}

.links ul {
    display: flex;
    flex-wrap: wrap;
}

footer li, .profiles a {
    padding: 20px;
    padding-left: 0px;


}

footer a {
    color: var(--text-footer);
    text-decoration: none;
}

footer a:hover {
    color: var(--text-color);

}

.content img {
    width: 100px;
}

.profiles {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/*Meny kan inte visas på mobile skärm. lyckades inte göra den fungerande*/
.menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;


}

.menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px 0px;
    color: var(--link-color);


}


.menu-button-container {
    display: flex;
    margin: 50px;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: var(--link-color);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}


@media screen and (min-width: 700px) {


    .menu-button-container {

        display: flex;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
        margin: 0;
        padding: 0;
        transition: none;
        transform: none;
    }

    .contact-image, .about-image {
        padding: 20px;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;


    }

    .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        background-image: url(../images/DS-Logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 200px;
        height: 100px;
        margin: 0;

    }

    .about-content {

        flex-wrap: nowrap;

    }
}



@media screen and (min-width: 960px) {

    .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;


    }
}