@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: black;
}

h2 {
    margin: 20px 0px;
}

h3 {
    margin: 0px 10px;
    font-weight: 400;
}

p {
    margin: 10px auto;
    line-height: 1.7;
}

.centered {
    text-align: center;
}

#wrapper {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 300px 1fr 50px;
    grid-template-areas:
        "header header header header"
        "hero hero hero hero"
        "main main main main"
        "footer footer footer footer ";

}

header {
    grid-area: header;


}

#hero {
    grid-area: hero;
    background-color: aquamarine;

}

main {
    grid-area: main;
    background-color: #FAF9F8;

}

footer {
    grid-area: footer;
    background-color: #6A9DC9;
    padding:20px;
}

nav {

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

}

.logo {

    grid-column: 1;

}

button {
    background-color: 6A9DC9;
}
.menu{
display: block;
  position: relative;
  top: 50px;
  left: 50px;  

}


.menu {

    display: none;
} 

.nav-toggle {
    grid-column: 3;
    align-self: center;
    margin: 20px;
}

li {
    list-style: none;
}

.item a {
    color: #4C5B65;
    text-decoration: none;
    padding: 10px 30px;

}

.item a:hover {
    border-bottom: 3px solid #679BC7;

}

.item a.active {
    border-bottom: 3px solid #679BC7;
  }

/* .logo img {
    width: 200px
} */
.logo {
    background-image: url("../images/DS-Logo-small.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 20px;
   
    
}

.content {
    display: block;
    margin: 10px;
    padding: 40px;
}

[class*=section] {
    margin-bottom: 40px;

}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (min-width: 700px) {
    .nav-toggle {
        display: none;
    }
    .logo {
        background-image: url(../images/DS-Logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 200px;
        height: 100px;
        margin: 0;
        
    }
    .menu {

        grid-column: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 5px;


    }

    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;


    }


}



@media screen and (min-width: 960px) {

    .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;


    }
}