@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* variabels */
:root{
    --background-color-content:#FAF9F8;
    --background-footer:#71bff3;
    --link-color:#4C5B65;
    --link-hover:#679BC7;
    --text-color:#000;
    --text-footer:#fff;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

h2 {
    margin: 20px 0px;
}

.content h3 {
    margin: 0px 10px;
}

p {
    margin: 10px auto;
    line-height: 1.7;
}

.centered {
    text-align: center;
}

#wrapper {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "header header header header"
        "hero hero hero hero"
        "main main main main"
        "footer footer footer footer ";

}

#wrapper-contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer ";
}

header {
    grid-area: header;


}

#hero {
    grid-area: hero;


}

main {
    grid-area: main;


}

footer {
    grid-area: footer;
    background-color: var(--background-footer);
    padding: 20px 10px;
}

header nav {

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

}

.logo {

    grid-column: 1;

}



.menu {

    display: none;
}

.nav-toggle {
    grid-column: 3;
    align-self: center;
    margin: 20px;
}

li {
    list-style: none;
}

.item a {
    color: var(--link-color);
    text-decoration: none;
    padding: 10px 30px;

}

.item a:hover {
    border-bottom: 3px solid var(--link-hover);

}

.item a.active {
    border-bottom: 3px solid var(--link-hover);
}

/* .logo img {
    width: 200px
} */
.logo {
    background-image: url("../images/DS-Logo-small.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 20px;


}

.content {
    display: block;
    margin: 10px;
    padding: 40px;
    background-color: var(--background-color-content) ;
}

[class*=section] {
    margin-bottom: 40px;

}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contact-text {
    margin: 10px;
    padding: 20px;

}


.about-image img, .contact-image img {
    width: 250px;
    min-width: 100%;

}

#hero img {
    width: 100%;
    max-width: 100%;
    height: auto;

}

.contact-main {
    align-items: center;
}


.contact-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0px;
    align-items: flex-end;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;

}

.social-icons i {
    color: var(--text-color);
}

.contact-socialmedia {
    margin: 40px 0px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    flex-wrap: wrap;

}

.links ul {
    display: flex;
    flex-wrap: wrap;
}

footer li, .profiles a {
    padding: 20px;
    padding-left: 0px;


}

footer a {
    color: var(--text-footer);
    text-decoration: none;
}

footer a:hover {
    color: var(--text-color);
   
}

.content img {
    width: 100px;
}

.profiles {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media screen and (min-width: 700px) {
    .nav-toggle {
        display: none;
    }

    .contact-image, .about-image {
        padding: 20px;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;


    }

    .menu {

        grid-column: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 5px;


    }

    .logo {
        background-image: url(../images/DS-Logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 200px;
        height: 100px;
        margin: 0;

    }

    .about-content {

        flex-wrap: nowrap;

    }
}



@media screen and (min-width: 960px) {

    .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;


    }
}